    
.drop-down-search-fav-memes{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    .ant-input-group-wrapper{
        width: 40%;
    }
}

.meme-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .fav-meme-wrapper{
        text-align: center;
        .ant-card{
            flex: 1 0 21%;
            margin: 5px;
            align-items: center;
            text-align: center;
        }
    }

  
}